{% extends 'base.html' %}
{% block body %}
<div id="welcome" class="hidden">
    <div class="container d-flex justify-content-center align-items-center" style="height: 50vh;">
        <div id="main-welcome">
            <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">Добро пожаловать! 🇷🇺</h1>
            <div class="inline-block align-middle">
                <h2 class="font-weight-normal lead" id="desc">Выберите интересующее вас СМИ в списке слева.</h2>
            </div>
        </div>
    </div>
</div>

<div id="main-content" class="hidden">
    <div class="border-bottom">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 id="site-name" class="h2"><img src="https://www.liveinternet.ru/favicon/{{ site }}.ico"
                                                          width="24" height="24" border="0"></h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="input-daterange input-group me-2" id="datepicker">
                    <input type="text" id="start-date"
                           class="input-sm form-select btn btn-sm btn-outline-secondary btn-extra" name="start"
                           placeholder=">"/>
                    <button type="button" class="btn btn-sm btn-outline-secondary btn-extra d-none d-md-block">
                        <svg class="bi">
                            <use xlink:href="#calendar3"/>
                        </svg>
                    </button>
                    <input type="text" id="end-date"
                           class="input-sm form-select btn btn-sm btn-outline-secondary btn-extra" name="end"
                           placeholder="<"/>
                    <button type="button" id="apply-dates" class="btn btn-sm btn-outline-secondary">Применить</button>
                </div>
                <div class="btn-group me-2">
                    <button onclick="exportToCsv('myTable')" type="button" class="btn btn-sm btn-outline-secondary">
                        Скачать CSV
                    </button>
                </div>
            </div>

        </div>

        <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

        <div class="table-responsive small">
            <table id="myTable" class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">index</th>
                    <th scope="col">date</th>
                    <th scope="col">visitors</th>
                </tr>
                </thead>
                <tbody>
                {% for line in table_data %}
                <tr class="data-row">
                    <td>{{ line['index'] }}</td>
                    <td>{{ line['date'] }}</td>
                    <td>{{ line['visitors'] }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function exportToCsv(tableId) {
        var csv = [];

        // Add the custom header row
        var headers = ['"Индекс"', '"Дата"', '"Трафик"'];
        csv.push(headers.join(","));

        // Get the data rows
        var rows = document.querySelectorAll("#" + tableId + " tbody tr");
        rows.forEach(function (row) {
            var rowData = [];
            var cols = row.querySelectorAll("td");
            for (var i = 0; i < cols.length; i++) { // Start from 0 to include all columns
                rowData.push('"' + cols[i].innerText.trim().replace(/"/g, '""') + '"');
            }
            csv.push(rowData.join(","));
        });

        var csvContent = "data:text/csv;charset=utf-8," + csv.join("\n");

        var link = document.createElement("a");
        link.setAttribute("href", encodeURI(csvContent));
        link.setAttribute("download", "table.csv");
        link.style.display = "none";
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
</script>



{% endblock %}
