/* extra.css */

html, body {
    height: 100%;
    overflow: hidden;
}

.container-fluid, .row, .sidebar {
    height: 100%;
}

main {
    height: calc(100vh - 56px); /* Учитываем высоту фиксированного хедера */
    overflow: auto;
}

.sidebar-scroll {
    max-height: calc(100vh - 56px); /* Максимальная высота с учетом высоты хедера */
    overflow-y: auto; /* Добавляет вертикальную прокрутку, если содержимое превышает высоту */
    overflow-x: hidden;
    scrollbar-width: none; /* Для Firefox */
}

/* Для мобильных устройств */
@media (max-width: 768px) {
    main {
        padding-top: 0; /* Убираем отступ на мобильных устройствах */
        height: 100vh;
    }

    .header-space {
        display: none; /* Убираем дополнительное пространство на мобильных устройствах */
    }

    .sidebar-scroll {
        max-height: 100vh; /* Максимальная высота экрана */
    }
}

.table-text-grey {
    color: #6c757d;
}

.table-extra {
    --bs-table-bg: rgba(0, 0, 0, 0);;
    font-size: 14px;
}

.noBorder, .noBorder th, .noBorder td {
    border: none !important;
}

.btn-extra:focus-visible {
    color: #6c757d;
    background-color: transparent;
    box-shadow: none;
}

.btn-extra:hover {
    color: #6c757d;
    background-color: transparent;
    box-shadow: none;
}

.btn-extra-check:checked + .btn-extra, .btn-extra.active, .btn-extra.show, .btn-extra:first-child:active, :not(.btn-extra-check) + .btn-extra:active {
    color: #6c757d;
    background-color: transparent;
    box-shadow: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.sidebar-button {
    background: none;
    border: none;
    padding: 0;
    text-align: left;
    cursor: pointer;
}

.sidebar-button:hover {
    transform: scale(0.95);
}

.sidebar-button:active {
    color: #6c757d;
    transform: scale(0.90);
}

.truncate-140 {
    width: 140px; /* Ширина блока, адаптируйте под свои нужды */
    white-space: nowrap; /* Убедитесь, что текст идет в одну строку */
    overflow: hidden; /* Скрыть текст, выходящий за границы блока */
    text-overflow: ellipsis; /* Добавить многоточие в конце текста */
}

.truncate-80 {
    width: 80px; /* Ширина блока, адаптируйте под свои нужды */
    white-space: nowrap; /* Убедитесь, что текст идет в одну строку */
    overflow: hidden; /* Скрыть текст, выходящий за границы блока */
    text-overflow: ellipsis; /* Добавить многоточие в конце текста */
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .bebra {
        width: 80%;
    }
}

/* extra.css */

.input-daterange input[type="text"] {
    width: 100px; /* Установите нужную ширину */
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.input-daterange .btn {
    padding: 0.25rem 0.5rem;
}

/* Убираем затемнение при открытии оффканвас меню */
.offcanvas-backdrop {
    display: none !important;
}

@media (max-width: 768px) {
    main {
        padding-top: 0; /* Убираем отступ на мобильных устройствах */
        height: calc(100vh - env(safe-area-inset-bottom)); /* Высота экрана с учетом безопасной зоны */
    }

    .header-space {
        display: none; /* Убираем дополнительное пространство на мобильных устройствах */
    }

    .sidebar-scroll {
        max-height: calc(100vh - env(safe-area-inset-bottom)); /* Максимальная высота экрана с учетом безопасной зоны */
    }
}
