{% extends 'base.html' %}
{% block body %}
<div class="">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">График {{ site }} <img src="https://www.liveinternet.ru/favicon/{{ site }}.ico" width="24" height="24" border="0"></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
             <div class="input-daterange input-group me-2" id="datepicker">
                <input type="text" class="input-sm form-select btn btn-sm btn-outline-secondary btn-extra" name="start"/>
                <button type="button" class="btn btn-sm btn-outline-secondary btn-extra">
                    <svg class="bi">
                        <use xlink:href="#calendar3"/>
                    </svg>
                </button>
                <input type="text" class="input-sm form-select btn btn-sm btn-outline-secondary btn-extra" name="end"/>
                <button type="button"
                        class="btn btn-sm btn-outline-secondary">
                    Применить
                </button>
            </div>
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Поделиться</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Скачать</button>
            </div>
        </div>
    </div>

    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

    <h2>Таблица</h2>

    <div class="clearfix"></div>
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Дата</th>
                <th scope="col">Посещений</th>
            </tr>
            </thead>
            <tbody>
            {% for line in table_data %}
            <tr>
                <td>{{ line[0] }}</td>
                <td>{{ line[1][0] }}</td>
                <td>{{ line[1][1] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h2>---</h2>
</div>
{% endblock %}